body {
  font-family: "Sora" !important;
}
/* start Navbar */
nav,
footer {
  background-color: #0079c3 !important;
}
nav, a{
  color: white !important;
}

.button-nav {
  border-radius: 20px !important;
}
.button-inscrire {
  font-weight: bold !important;
  color: #0079c3 !important;
}
.button-connect {
}

/* End Navbar */

/* start landpage */
.title-land-page {
  font-weight: bolder;
  font-size: 50px;
  color: #172c42;
}
.text-land-page {
  font-size: 20px;
  color: #172c42;
}
.chiffres {
  font-size: 50px;
  font-weight: bolder;
  color: #0079c3;
}
.text-after-chiffres {
  font-size: 20px;
  color: #172c42;
}
.title-CARENESS {
  font-size: 20px;
  font-weight: bold;
  color: #0079c3;
}
.image-women-doctor-landpage {
  border-radius: 17px;
  margin-right: 100px;
}

.image-father-walking {
  border-radius: 17px;
}
.text-chiffers {
  font-weight: bold;
}
li {
  font-size: 10px;
}
.border-input {
  border-bottom-left-radius: 17px !important;
  border-top-left-radius: 17px !important;
}
.border-btn-envoyer {
  border-bottom-right-radius: 17px !important;
  border-top-right-radius: 17px !important;
  background-color: #0079c3 !important;
}

.service-big-image {
  position: relative;
  width: 100%;
  height: auto;
}
.image-profile-modal {
  position: absolute;
  left: 50px;
  top: 50px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.containerr {
  position: relative;
}
.center {
  position: absolute;
  top: 0%;

  height: auto;
  width: 100%;
}
.right-text {
  position: absolute;
  top: 15%;
  left: 5%;
  height: auto;
  width: 100%;
  font-size: 30px;
  color: white;
}
.checked {
  color: orange;
}
.buton-voir-plus {
  border-radius: 17px !important;
  font-size: 12.5px !important;
  color: #0079c3 !important;
  font-weight: bold !important;
}
.buton-voir-plus:hover {
  color: white !important;
  background-color: #0079c3 !important;
}

.buton-contacter {
  border-radius: 17px !important;
  font-size: 12.5px !important;
  background-color: #0079c3 !important;
  font-weight: bold !important;
}
.image-services-personel {
  width: 150px;
  height: 200px;
  border-top-left-radius: 17px;
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
}
.btn-call {
  padding: 10px;
  width: 196px;
  margin-top: 50px;
  background-color: #cee4f2 !important;
  color: #172c42 !important;
}
.image-profile {
  border-radius: 50%;
}
.card {
  border: none !important;
}
.css-video {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .card-video-landpage {
    position: absolute;
    top: 50px;
    left: 60px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .card-video-landpage {
    position: absolute;
    top: 100px;
    left: 60px;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 480px) {
  .card-video-landpage {
    position: absolute;
    top: 100px;
    left: 60px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .card-video-landpage {
    position: absolute;
    top: 200px;
    left: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .big-card-video-landpage {
    position: absolute;
    bottom: -30px;
  }
  .card-video-landpage {
    position: absolute;
    top: 250px;
    left: 60px;
    justify-content: center;
    align-items: center;
  }
}

.right-title-land-page {
  font-size: 30px;
  color: white;
}
.right-text-land-page {
  font-size: 15px;
  color: white;
}
.big-card-video-landpage {
  color: #172c42;
  background-color: white;
  position: absolute;
  bottom: -190px;
  left: 100px;
  padding-top: 35px;
  border-radius: 20px;
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .big-card-video-landpage {
    color: #172c42;

    background-color: white;
    position: absolute;
    bottom: -190px;
    left: 10px;
    padding-top: 35px;
    border-radius: 20px;
    box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 600px) {
  .big-card-video-landpage {
    color: #172c42;

    background-color: white;
    position: absolute;
    bottom: -190px;
    left: 20px;
    padding-top: 35px;
    border-radius: 20px;
    box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 768px) {
  .big-card-video-landpage {
    color: #172c42;
    background-color: white;
    position: absolute;
    bottom: -20px;
    left: 110px;
    padding-top: 35px;
    border-radius: 20px;
    box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (min-width: 992px) {
  .big-card-video-landpage {
    color: #172c42;
    background-color: white;
    position: absolute;
    bottom: -190px;
    left: 100px;
    padding-top: 35px;
    border-radius: 20px;
    box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  }
}

/* End landpage */

/* start Footer*/

/* End Footer*/
.image-card-land-page {
  width: 220px;
  height: 250px;
}

.cards-equipement {
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}
.width-text-info {
  position: absolute;
  width: 280px;
  top: 110px;
}
.text-float-profile {
  background-color: #cee4f2;
  border-radius: 20px;
  font-size: 15px;
}
.text-min-size {
  font-size: 11px;
  font-weight: bold;
  color: #0079c3;
}
.text-profile {
  font-size: 10px;
}
.image-certif {
  width: 200px;
  height: 100px;
}

.relative-diplome {
  position: relative;
}

.float-text-diplom {
  position: absolute;
  top: 70px;
  right: 5px;
}
.title-events {
  font-size: 36px;
  font-weight: bolder;
  color: #0079c3 !important;
}


.title-bonne-sante {
  color: #4c9f38;
  font-size: 12px;
  font-weight: bold;
}
.title-travail-decent {
  color: #a21942;
  font-size: 12px;
  font-weight: bold;
}

.cards-events {
  box-shadow: -1px 5px 10px -2px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}

.border-form {
  border-radius: 20px !important;
}
.css-dropdown {
  top: 64px !important;
  left: -66px !important;
  line-height: 1.6 !important;
  padding-left: 21px !important;
  padding-right: 32px !important;
  border: none !important;

}
.form-check-reverse {
  padding-right: 6.5em !important;
  padding-left: 1px !important;
  text-align: left !important;
}
.star-rate{
  font-size: 20px;
  font-weight: bold;
}
.btn-filter{
  width: 170px !important;
  border-radius: 20px !important;
  background-color: #fbfdff !important;
  color: black !important;
}
